name: GLTF V1 Derive Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    paths:
      - 'Cargo.toml'
      - 'crates/gltf-v1-derive/**'

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test GLTF V1 Derive
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Cache Cargo Dependencies
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - name: build
        run: cargo build -v -p gltf-v1-derive
      - name: test
        run: cargo test -v -p gltf-v1-derive

