name: Scene Crate Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    paths:
      - 'Cargo.toml'
      - 'crates/asset-importer-rs-scene/**'

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test Scene Crate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@cargo-llvm-cov
      - name: Cache Cargo Dependencies
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - name: build
        run: cargo build -v -p asset-importer-rs-scene
      - name: test
        run: cargo llvm-cov -v -p asset-importer-rs-scene --lcov --output-path lcov-scene.info
      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-scene
          path: lcov-scene.info
          retention-days: 1

